@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Special Elite', cursive;
    color: black;
    min-height: 100%;
    position: relative;
    background: -webkit-linear-gradient(black, transparent 35%), url(https://farm2.staticflickr.com/1586/24046047820_3731b6073d_k.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header a.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background: url(https://farm2.staticflickr.com/1478/24259118481_3bd44aea82_o.png) no-repeat 0 0;
    background-size: contain;
    z-index: 1;
    top: 15px;
    left: 20px;
}

/* Navigation Menu and Hierarchy */

nav {
    position: relative;
    padding: 30px 0px 0px 180px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li:hover > ul {
    display: block
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    width: 220px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;

}

nav ul ul li {
    position: relative;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

nav > ul {
    padding-left: 35px;
}

nav > ul > li {
    float: right;
}

nav > ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;
}
