<section class="home-1">
</section>

<section>
  <div class="content">
    <h1>Resize your browser and see how they adapt.</h1>
 </div>
</section>

<section class="home-3">
  <div class="content">
    <h1>It's amazing and fast.</h1>
 </div>
</section>

<section>
  <div class="content">
    <h1>See the <a href="http://caniuse.com/#feat=viewport-units">browser support.</a></h1>
 </div>
</section>

<footer>
  <div class="fb-like" data-href="https://www.facebook.com/lrbpolo/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</footer>
