<section class="landing" id="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
        </div>
      </div>
    </div>
 </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion">
          <dl>
            <dt><h3><span>+</span> What is Bike Polo?</h3></dt>
            <dd><p>Hardcourt Bike Polo is a variation of traditional Bicycle Polo in which teams of players ride bicycles and use mallets to strike a small ball into a goal. It may also be referred to as "Hardcourt", "Urban Bike Polo" or simply "Bike Polo".</p></dd>
            <dt><h3><span>+</span> Bike Polo History</h3></dt>
            <dd><p>Bike Polo grew out of the bike messenger scene circa 1999 when a few messengers looking for something to do between jobs began hitting a street hockey ball around with makeshift mallets. In the beginning it was a game for a circle of friends with a passion for bikes and booze and was not organized and did not have a formal rule structure. Through years of obscurity, being kicked off tennis courts, and other public open surfaces, you can now see now, a game developing into a sport with a national organizational group, North American Hardcourt, international clubs and competitions around the world, an international women's tournament and increasing exposure to the mainstream.
            <br>
            <br> Even at this point, with worldwide participation and growing popularity, there are still clubs around the country that are struggling to gain recognition in their communities and secure appropriate playing spaces in their cities and towns, fighting the local police against eviction from unused or little used courts that bike polo is slowly revitalizing.</p></dd>
            <dt><h3><span>+</span> Bike Polo in Little Rock</h3></dt>
            <dd><p>LRBP started out in the first weeks of October in 2009 when the Bicycle Kitchen in the Arkansas Sustainability Network building on Victory Street closed down after the ASN lost its lease. The bike kitchen was a hub of biking fun: freak bike building, nighttime scavenger hunts on bike and weekly night rides. After the kitchen closed, Danielle Driver and I started to throw around other bike-centered ideas/activities that we could do next. I had been riding fixed gear for a few years and would sometimes join in the pack that would do the Root Canal ride along the River Trail, but was disappointed that the activity didn’t culminate in the eating of pizza and swilling of beer.
            <br>
            <br>In keeping up with other bike friends around the states, I discovered bike polo through some shared links from some of my Denver messenger friends. Danielle was familiar with polo through some Bike-Kill friends and we quickly got to work scouting out potential spots to play in downtown Little Rock, procuring traffic cones, and fashioning mallets out of questionable materials: old golf clubs, bamboo and ABS pipe.
            <br>
            <br>We quickly settled on the river Market Pavilions due to the available all night lighting & smooth concrete surface. We would push garbage cans together to form goals and set about trying to play a game we knew near to nothing about. I was riding a fixed khs track (still my main frame) with an 18t freewheel and 44 t chain wheel. The other bikes were either close to my setup or even less suited to polo, but we had fun flailing about and slow-mo crashing into each other.
            <br>
            <br>A few weeks later, my pal Derrick asked me why we weren’t taking advantage of the already established street hockey courts in <a class="page-scroll" target="_blank" href="#where">MacArthur Park.</a> It was around this time that I started the <a target="_blank" href="http://lrbpolo.blogspot.com/">lrbpolo.blogspot.com</a> blog. I also got on to <a target="_blank" href="http://leagueofbikepolo.com">League of Bike Polo</a> and registered our new club. Not too long after registering on LOBP, Tulsa Bike Polo’s Stevenso reached out to us & we were planning our first tournament. <a target="_blank" href="http://leagueofbikepolo.com/river-city-rumble-little-rock">The River City Rumble</a> was scheduled for April 10th & 11th, 2010 with teams from Austin,TX and Tulsa, OK.
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rules" id="rules">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2>Rules</h2>
            <ul>
              <li><p>Rule//Two<br>Any type of bicycle is allowed. Handlebars must be plugged</p></li>
              <li><p>Rule//Two<br>Any type of bicycle is allowed. Handlebars must be plugged</p></li>
              <li><p>Rule//Three<br>Mallets must resemble a croquet mallet with a wide side and round end</p></li>
              <li><p>Rule//Four<br>Players may not play the ball with their feet at any time</p></li>
              <li><p>Rule//Five<br>Shuffles or shots with the middle of the mallet do not count</p></li>
              <li><p>Rule//Six<br>A player must return to the middle line of the court and touch the side after putting a foot down</p></li>
              <li><p>Rule//Seven<br>A shot through the back of the net must be followed by a pass before another shot can occur</p></li>
              <li><p>Rule//Eight<br>Games usually last either first to five points or ten minutes</p></li>
            </ul>
            <br>
            <br>
            <p>To learn more about the rules in detail, refer to the <a target="_blank" href="http://www.nahardcourt.com/rules/">North American Hardcourt Ruleset</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="where" id="where">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <h2>Where we play</h2>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13114.394868007314!2d-92.28274551871611!3d34.74050800599649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2bb76197041b1%3A0x5ddb12cd603b6cd3!2s1065+McMath+Ave%2C+Little+Rock%2C+AR+72202!5e0!3m2!1sen!2sus!4v1457242756955" width="1000" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
