<section class="landing">
  <div class="content">
 </div>
</section>

<section>
  <div name="about" class="about">
    <h3>What is Bike Polo?</h3>
    <p>Hardcourt Bike Polo is a variation of traditional Bicycle Polo in which teams of players ride bicycles and use mallets to strike a small ball into a goal. It may also be referred to as "Hardcourt", "Urban Bike Polo" or simply "Bike Polo".</p>
    <h3>Bike Polo History</h3>
    <p>Bike Polo grew out of the bike messenger scene circa 1999 when a few messengers looking for something to do between jobs began hitting a street hockey ball around with makeshift mallets. In the beginning it was a game for a circle of friends with a passion for bikes and booze and was not organized and did not have a formal rule structure. Through years of obscurity, being kicked off tennis courts, and other public open surfaces, you can now see now, a game developing into a sport with a national organizational group, North American Hardcourt, international clubs and competitions around the world, an international women's tournament and increasing exposure to the mainstream.<br> Even at this point, with worldwide participation and growing popularity, there are still clubs around the country that are struggling to gain recognition in their communities and secure appropriate playing spaces in their cities and towns, fighting the local police against eviction from unused or little used courts that bike polo is slowly revitalizing.
    <h3>Bike Polo in Little Rock</h3>
    <p>It all started in 2009 with a guy named David O'Brien</p>
  </div>
</section>

<section class="rules">
  <div class="content">
    <h1>Rules.</h1>
 </div>
</section>

<section>
  <div name="about" class="where">
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13114.394868007314!2d-92.28274551871611!3d34.74050800599649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2bb76197041b1%3A0x5ddb12cd603b6cd3!2s1065+McMath+Ave%2C+Little+Rock%2C+AR+72202!5e0!3m2!1sen!2sus!4v1457242756955" width="1000" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<footer>
  <a target="_blank" href="https://twitter.com/lrbikepolo"><i class="fa fa-twitter fa-2x"></i></a>
  <a target="_blank" href="https://www.instagram.com/lrbikepolo"><i class="fa fa-instagram fa-2x"></i></a>
  <a target="_blank" href="https://www.facebook.com/lrbpolo"><i class="fa fa-facebook fa-2x"></i></a>
</footer>
