@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

/* Navigation Menu and Hierarchy */

header a.logo-large {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(https://farm2.staticflickr.com/1478/24259118481_3bd44aea82_o.png) no-repeat 0 0;
  background-size: contain;
  z-index: 1;
  top: 15px;
  left: 20px;
}

header a.logo-small {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(https://farm2.staticflickr.com/1478/24259118481_3bd44aea82_o.png) no-repeat 0 0;
  background-size: contain;
  z-index: 1;
  top: 15px;
  left: 20px;
}

nav {
    font-family: 'Special Elite', cursive;
    position: relative;
    padding: 30px 0px 0px 180px;
}

nav.navbar-default {
    background: -webkit-linear-gradient(black, transparent 100%), transparent;
    border-color: transparent;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li:hover > ul {
    display: block
}

nav ul li a {
    display: inline-block;

    padding: 10px 20px;
    text-decoration: none;
    width: 220px;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav > ul {
    padding-left: 35px;
}

nav > ul > li {
    float: right;
}

nav > ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;
    color: white;
}

/* Body */

section {
  font-family: 'Special Elite', cursive;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #020304;
  height: 100vh;
}

.landing {
  color: black;
  min-height: 100%;
  position: relative;
  background: url(https://farm2.staticflickr.com/1586/24046047820_3731b6073d_k.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rules {
  color: black;
  min-height: 100%;
  position: relative;
  background: url(https://farm2.staticflickr.com/1584/25122474349_2a311af479_h.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  padding: 75px;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}

/* Footer */

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #020304;
  color: white;

  a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: .25%;
  }
}
